body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__sans;
	@include font-size();
	line-height: $font__line-height-body;

	@media screen and (max-width: $query__medium) {
		@include font-size(1);
	}
}

@import "headings";

@import "copy";
