//
.first ul {
  list-style-type: none;
  li {
    width: 50%;
    margin-left: 0px;
  }
  a,
  a.visited {
    color: $color__white;
  }
}
.fatfooter {
  width: 100%;
  background-color: $color__blue;
  padding: 45px 0px 20px 0px;
}
// /* floats */
// .quarter,
// .one-third,
// .two-thirds,
// .half {
//     float: left;
// }
// /* widths */
// .one-third {
//     width: 32%;
// }
// .two-thirds {
//     width: 65.5%;
// }
// .quarter {
//     width: 23.5%;
// }
// .three-quarters {
//     width: 74.5%;
// }
// .half {
//     width: 48%;
// }
// /* margins  */
// .one-third {
//     margin: 0 0.5%;
// }
// .quarter,
// .two-thirds {
//     margin: 0 0.5%;
// }
// .left,
// .quarter.left,
// .one-third.left {
//     margin: 0 1% 0 0;
//     float: left;
// }
// .right,
// .quarter.right,
// .one-third.right {
//     margin: 0 0 0 1%;
//     float: right;
// }
// .half.left {
//     width: 48%;
//     margin: 0 2% 0 0;
// }
// .half.right {
//     width: 48%;
//     margin: 0 0 0 2%;
// }
// .two-thirds.left {
//     margin: 0 1% 0 0;
// }
// .two-thirds.right {
//     margin: 0 0 0 1%;
//     float: right;
// }
// /* media queries for larger screens such as small tablets in landscape or large tablets in portrait */
// @media screen and ( max-width: 780px ) {
//
//     /* only the .quarter layout class is relevant here - all other classes will have full width */
//     .quarter {
//         width: 48%;
//     }
//     .quarter.left {
//         margin-right: 2%;
//     }
//     .quarter.right {
//         margin-left: 2%;
//     }
//     footer .third.quarter.widget-area {
//         clear: both;
//     }
// }
//
// /* media queries for small screens in landscape mode (or similar) */
// @media screen and ( max-width: 600px ) {
//
//     /* width sizing all full width in small screens */
//     .quarter,
//     .one-third,
//     .half,
//     .two-thirds,
//     .three-quarters,
//     .full-width {
//         width: 100%;
//         margin: 0;
//     }
//     /* padding adjustments */
//     .widget-area {
//         padding: 0 0 10px 0;
//     }
// }
