.main-navigation {
	text-align: center;
	position: relative;
}
.main-navigation ul {
	display: inline-block;
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
	z-index: 100000;
}
.main-navigation li {
	display: block;
	float: left;
	// border: 1px solid red;
}
// .main-navigation ul li:nth-child(2),
.main-navigation ul li:nth-child(3) {
	margin-left: 600px;
}
.main-navigation ul li:nth-child(1), {
	// border: 1px solid red;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 40px;
}
.main-navigation ul li:nth-child(2),
.main-navigation ul li:nth-child(3),
.main-navigation ul li:nth-child(4),
.main-navigation ul li:nth-child(5) {
  padding-top: 13px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}
.main-navigation a {
	color: #000000;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
.mobile-logo {
	display: none;
}
.toggle-nav {
	display: none;
}
@media screen and (max-width: 1384px) {
	.main-navigation ul li:nth-child(2),
	.main-navigation ul li:nth-child(3),
	.main-navigation ul li:nth-child(4),
	.main-navigation ul li:nth-child(5) {
	  // padding-top: 13px;
		padding-left: 20px;
	}
}
@media screen and (max-width: 1343px) {
	.main-navigation ul li:nth-child(2),
	.main-navigation ul li:nth-child(3),
	.main-navigation ul li:nth-child(4),
	.main-navigation ul li:nth-child(5) {
	  // padding-top: 13px;
		padding-left: 20px;
	}
}
@media screen and (max-width: 1294px) {
	.main-navigation ul li:nth-child(2),
	.main-navigation ul li:nth-child(3),
	.main-navigation ul li:nth-child(4),
	.main-navigation ul li:nth-child(5) {
	  // padding-top: 13px;
		font-size: 17px;
	}
}
@media screen and (max-width: 1284px) {
	.main-navigation ul li:nth-child(2),
	.main-navigation ul li:nth-child(3),
	.main-navigation ul li:nth-child(4),
	.main-navigation ul li:nth-child(5) {
	  // padding-top: 13px;
		padding-left: 5px;
	}
}
@media screen and (max-width: 1240px) {
	.main-navigation ul li:nth-child(2),
	.main-navigation ul li:nth-child(3),
	.main-navigation ul li:nth-child(4),
	.main-navigation ul li:nth-child(5) {
	  // padding-top: 13px;
		font-size: 16px;
	}
}
@media screen and (max-width: 1148px) {
	.main-navigation ul li:nth-child(2),
	.main-navigation ul li:nth-child(3),
	.main-navigation ul li:nth-child(4),
	.main-navigation ul li:nth-child(5) {
	  // padding-top: 13px;
		font-size: 16px;
		padding-left: 0px;
	}
}
@media screen and (max-width: 1130px) {
	.main-navigation ul li:nth-child(2),
	.main-navigation ul li:nth-child(3),
	.main-navigation ul li:nth-child(4),
	.main-navigation ul li:nth-child(5) {
	  // padding-top: 13px;
		font-size: 16px;
		padding-left: 0px;
	}
	.main-navigation ul li:nth-child(3) {
		margin-left: 400px;
	}
}
@media screen and (max-width: $query__medium) {
	//For tablets
	.main-navigation li a {
		font-size: 16px;
	}
	.main-navigation ul li:nth-child(3) {
		margin-left: 300px;
	}
	.main-navigation ul li:nth-child(2),
	.main-navigation ul li:nth-child(3),
	.main-navigation ul li:nth-child(4),
	.main-navigation ul li:nth-child(5) {
	  // padding-top: 13px;
		padding: 20px 20px 0px 20px;
	}
}
@media screen and (max-width: $query__small) {
//For small screens ie phones
	#site-navigation {
		width: 100%;
	}
	.mobile-logo {
		display: block;
		position: absolute;
		top: 30px;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-top: 20px;
		float: left;
	}
	.toggle-nav {
		display: inline-block !important;
		padding: 10px 0px 0px 0px;
		font-size: 40px;
		text-decoration: none !important;
		background: color__white;
		float: left;
	}
	.toggle-nav:hover, .toggle-nav.active {
    color: $color__blue;
	}
	.main-navigation {
		position: relative;
		display: inline-block;
	}
	.main-navigation ul {
		display: none;
		position: absolute;
		top: 80%;
		left: 0px;
		padding: 0px 0px 15px 15px;
		width: 100%;
		margin-left: 0px;
		background-color: $color__blue;
	}
	.main-navigation li {
		padding: 20px 0px 20px 0px;
		display: block;
		float: none;
		text-align: left;
		width: 100%;
		a {
			color: $color__white;
		}
	}
	.main-navigation ul li:nth-child(1) {
	  display: none;
	}
	.main-navigation ul li:nth-child(3) {
	  margin-left: 0px !important;
	}
}
