.jumbotron {
  margin: 0px 0px 0px 0px;
  padding: 0 !important;
  position: relative;
  height: 350px;
  width: 100%;
  background-color: $color__blue;
  h1 {
    color:  $color__black;
  }
  p {
    color: $color__black;
  }
}
.jumbotron .btn {
  color: $color__white;
  border: none;
}
.jlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  h1 {
    text-align: left;
  }
}
hr {
  // background-color: transparent;
}
@media screen and (max-width: $query__xsmall) {
  .jumbotron {
    // height: 420px;
  }
}
