.card {
  border: 1px solid red;
  display: inline-block !important;
  float: left;
  margin-left: 4%;
  margin-bottom: 10px;
  border: 1px solid $color__black;
  color: $color__blue;
  background-color: $color__white;
  h5 {
    font-size: 30px;
  }
}
.card-title a,
.card-title a:visited {
  color: $color__blue;
}
.rescuebtn {
  background-color: $color__blue;
}

@media screen and (max-width: $query__large) {
  .card {
    margin-left: 9.2%;
  }
}
@media screen and (max-width: 1386px) {
  .card {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1343px) {
  .card {
    margin-left: 1.4%;
  }
}
@media screen and (max-width: 1318px) {
  .card {
    margin-left: 1%;
  }
}
@media screen and (max-width: 1294px) {
  .card {
    margin-left: .8%;
  }
}
@media screen and (max-width: 1284px) {
  .card {
    margin-left: 6.7%;
  }
}
@media screen and (max-width: 1240px) {
  .card {
    margin-left: 6%;
  }
}
@media screen and (max-width: 1180px) {
  .card {
    margin-left: 5%;
  }
}
@media screen and (max-width: 1110px) {
  .card {
    margin-left: 4%;
  }
}
@media screen and (max-width: 1074px) {
  .card {
    margin-left: 3%;
  }
}
@media screen and (max-width: 1042px) {
  .card {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1024px) {
  .card {
    //ipad horizontal
    margin-left: 1.8%;
  }
}
@media screen and (max-width: 1000px) {
  .card {
    //ipad horizontal
    margin-left: 1.2%;
  }
}
@media screen and (max-width: 986px) {
  .card {
    //ipad horizontal
    margin-left: .8%;
  }
}
@media screen and (max-width: 972px) {
  .card {
    //ipad horizontal
    margin-left: 11.5%;
  }
}
@media screen and (max-width: 852px) {
  .card {
    //ipad horizontal
    margin-left: 8.2%;
  }
}
@media screen and (max-width: 770px) {
  .card {

    margin-left: 6.4%;
  }
}
@media screen and (max-width: 736px) {
  .card {
    //iphone horizontal
    margin-left: 5%;
  }
}
@media screen and (max-width: 682px) {
  .card {
    //iphone horizontal
    margin-left: 3%;
  }
}
@media screen and (max-width: 652px) {
  .card {
    //iphone horizontal
    margin-left: 25%;
  }
}
@media screen and (max-width: $query__xsmall) {
  .card {
    //iphone vertical
    margin-left: 10.3%;
  }
}
@media screen and (max-width: 556px) {
  .card {
    //iphone horizontal
    margin-left: 20%;
  }
}
@media screen and (max-width: 414px) {
  .card {
    //iphone horizontal
    margin-left: 10%;
  }
}
